body {
    background-color: #F1F1F1;
    margin: 0;
    padding: 0;
}
.time{
    width:20%;
    height:20%;
}
.price {
    width: 20%;
    height: 20%;
}
#contenttitle{
    background-color:black;
    color:green;
}

#map {
    height: 200px;
    width: 80%;
}

@media (max-width: 200px) {
    #map {
        height: 200px;
    }
}
textarea {
    resize: none;
}